/* mBoard.css  */
.board {
  display: grid;
  width: 891px;
  height: 891px;
  grid-template-columns: repeat(11, 81px);
  grid-template-rows: repeat(11, 81px);
  position: relative;
  margin: 10px;
  background-color: #ebe4c9;
  border: 2px solid #ffffff;
  size: 10px;
}

.logo {
  width: 200px;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;

}

.player {
  width: 100px;
  height: 18px;
  border-radius: 50%;
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease;
}

/* Player colors */
.player.p1 { background-color: red; }
.player.p2 { background-color: blue; }
.player.p3 { background-color: green; }
.player.p4 { background-color: orange; }


